@-webkit-keyframes btn-tilt {
  0% {
    -webkit-transform: rotate(0turn);
    transform: rotate(0turn);
  }
  25% {
    -webkit-transform: rotate(0.01turn);
    transform: rotate(0.01turn);
  }

  75% {
    -webkit-transform: rotate(-0.01turn);
    transform: rotate(-0.01turn);
  }
  100% {
    -webkit-transform: rotate(0turn);
    transform: rotate(0turn);
  }
}
@keyframes btn-tilt {
  0% {
    -webkit-transform: rotate(0turn);
    transform: rotate(0turn);
  }
  25% {
    -webkit-transform: rotate(0.01turn);
    transform: rotate(0.01turn);
  }

  75% {
    -webkit-transform: rotate(-0.01turn);
    transform: rotate(-0.01turn);
  }
  100% {
    -webkit-transform: rotate(0turn);
    transform: rotate(0turn);
  }
}

.create-test-page {
  width: 100%;
  height: 100%;
  min-height: 100vh;
  background: rgb(250,251,253);
  background: linear-gradient(133deg, rgba(250,251,253,1) 40%, rgba(220,233,239,1) 100%);
  display: flex;
  justify-content: center;
  align-items: start;
  overflow: hidden;
  &__container {
    width: clamp(1000px, 100vw, 1250px);
    margin: 0 auto;
    @media screen and (max-width: 1000px) {
      width: 100%;
    }
  }
  &__button {
    background-color: transparent;
    font-size: 1.5rem;
    text-align: center;
    font-weight: 700;
    color: #fff;
    transition: all 1s ease;
    animation: btn-tilt 1.5s ease-out reverse infinite;
    &:hover {
      color: #00000083;
    }
  }
  &__add {
    display: block;
    background: transparent;
    margin: 0 auto;
    > * {
      width: 3rem;
      height: 3rem;
    }
    &:hover {
      color: rgb(179, 0, 0);
      transition: color 0.3s ease;
    }
  }
  &__error {
    color: red;
    text-align: center;
    margin-bottom: 1rem;
  }
}
