.card {
  // background-color: #bbbbbb54;
  background-color: transparent;
  padding: clamp(1rem, 7.6vw, 2rem);
  border-radius: clamp(1.2rem, 7.6vw, 2rem);
  border: 0.25rem solid #00000083;
  box-shadow: 4px 4px 15px -8px rgba(0,0,0,0.75);
  margin-bottom: 2rem;
  width: 100%;
  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
    padding-bottom: 1rem;
    border-bottom: 2px solid #00000057;
  }
  &__title {
    font-weight: 600;
  }
  &__buttons {
    display: flex;
    gap: 1rem;
    > button {
      background-color: transparent;
      :hover {
        color: rgb(179, 0, 0);
        transition: color 0.2s ease;
      }
    }
  }
  &__content {
    display: flex;
    flex-direction: column;
    padding: 0 1rem;
    > h2 {
      font-size: 1.5rem;
      font-weight: 500;
      letter-spacing: 0.1rem;
      margin-bottom: 1.5rem;
      text-wrap: wrap;
    }
  }
  &__variants {
    display: flex;
    flex-direction: column;
    list-style-type: disc;
    padding-left: 1rem;
    > li {
      text-wrap: wrap;
    }
    :not(:last-of-type) {
      margin-bottom: 1rem;
    }
  }
}
